<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\JobPortal.mdf;Integrated Security=True" name="JobPortal" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="username" value="Admin"/>
    <add key="password" value="admin@123"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>